extends layout

block content
  h1= title
  p Welcome to #{title}
  p We are attempting to do some work here
  img(src="http://photos1.blogger.com/x/blogger/4332/3688/1600/73175/Blizzard%20Co..jpg", alt="OSHA", style="width: 600px")
  p
  p President page is under construction.
  p Here is a funny video instead
  iframe(type='text/html' width='640' height='390'
    src='http://www.youtube.com/embed/e4q6eaLn2mY?autoplay=0'
    frameborder='0')
