doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home - Random information
    br
    a(href='/presidents') US Presidents
    br
    a(href='/mario') Various Mario games
    br
    a(href='/bitcoin') Fluctuation of bitcoin prices of the years.

    block content
