doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home - Random information
    br
    a(href='/presidents') US Presidents

    block content
