extends layout

block content
  .row
    h4 New world cup winner
  form(action="", method="post")
    .form-group.row
      label <first label>
        input.form-control(name="<first label>")
    .form-group.row
      label <second label>
        input.form-control(name="<second label>")
    .form-group.row
      button.btn-primary Add
